{% extends 'base.html.twig' %}

{% block content %}

    <main class="container register-container">
        <div class="row" style="height: 500px">
            <div class="col-md-6 col-sm-12 content register">
                <div class="form-container">
                    {{ form_start(registrationForm, {
                        attr: { class: 'form-signin'}
                    })}}
                    <h1 class="h3 font-weight-normal">Please register!</h1>
                    {{ form_widget(registrationForm) }}
                    <div class="button-group">
                        <button class="btn btn-lg btn-primary" type="submit" formnovalidate>
                            Register
                        </button>
                        <a href="{{ "/" }}" class="btn btn-lg btn-secondary">Go Back</a>
                    </div>

                    {{ form_end(registrationForm)}}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

